table{
  position: absolute;
  left: 10%;
  top: 10%;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  border-radius: 10px;
}
h3{
  padding: 15px 0 10px 25px;
  font-family: 'Jost', sans-serif;
}
tr{
  transition: all .2s ease-in;
  cursor: pointer;
  border-bottom:1px solid #bdc3c7;
  font-size: 14px;
}
tbody tr{
  font-family: 'Nanum Myeongjo', serif;
}
tbody tr:hover{
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
td,th{
  padding: 10px;
  text-align: center;
}
thead{
  background-color: rgb(83, 172, 142);
  color: white
}
.idRow{
  color: rgb(83, 172, 142);
}

@media only screen and (max-width: 768px) {
  table {
      width: 90%;
  }
}